<!DOCTYPE html>
<html>
<head>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script src="/semantic/dist/semantic.min.js"></script>
    
    <div class="ui four item menu">
        <a class="item" href="/home/">Home</a>
        <a class="item" href="/view-tables/">View Tables</a>
        <a class="active item" href="/query-tables/">Query Tables</a>
        <a class="item" href="/insert-into-tables/">Insert into Tables</a>
    </div>
</head>
<body>
<p>
    <i>SELECT * FROM <b>Cannons</b> WHERE <b>Field_of_View</b> = <b>?</b></i>
    <form action="queryTable1" method="post">
        <div>
            <label class="ui label">Field of View: </label>
            <select class="ui dropdown" name="fov">
                <option value="Bow">Bow</option>
                <option value="Port">Port</option>
                <option value="Starboard">Starboard</option>
                <option value="Stern">Stern</option>
            </select>
        </div>
        <input class="ui button" type="submit" value="Submit">
    </form>
</p>
<p>
    <i>SELECT <b>Name</b>, <b>Role</b>, <b>Annual_Salary</b> FROM <b>crew</b> INNER JOIN <b>crew_roles</b> ON <b>crew.Employee_ID</b> = <b>crew_roles.Employee_ID</b> WHERE <b>Annual_Salary</b> ? ?</i>
    <form action="queryTable2" method="post">
        <div>
            <label class="ui label">Operator: </label>
            <select class="ui dropdown" name="op">
                <option value="=">=</option>
                <option value="<">&lt;</option>
                <option value="<=">&lt;=</option>
                <option value=">">&gt;</option>
                <option value=">=">&gt;=</option>
            </select>
        </div>
        <div>
            <label class="ui label">Value: </label>
        <div class="ui input">
            <input type="number" placeholder="50000" name="pay"/>
        </div>
        </div>
        <input class="ui button" type="submit" value="Submit">
    </form>
</p>
<div class="ui teal image label">
    {{.MyQuery}}
</div>
<table class="ui celled striped table">
    <tr>
        {{range .QueryResults.ColumnHeaders}}
        <th>{{.}}</th>
        {{end}}
    </tr>
    {{if eq .Title "query1"}}
        {{range .QueryResults.CannonResults}}
        <tr>
            <td>{{.Field_of_View}}</td>
            <td>{{.Floor_Number}}</td>
            <td>{{.Crew_Member}}</td>
        </tr>
        {{end}}
    {{else if eq .Title "query2"}}
        {{range .QueryResults.JoinQueryResults}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.Role}}</td>
            <td>{{.Annual_Salary}}</td>
        </tr>
        {{end}}
    {{end}}
</table>
</body>
</html>