<!DOCTYPE html>
<html>
<head>
    <link href="/css/style.css" rel="stylesheet">
    
    <table class="ui table">
        <tr>
            <td><a href="/home/">Home</a></td>
            <td><a href="/view-tables/">Display Tables</a></td>
            <td><a href="/query-tables/">Query Tables</a></td>
            <td><a href="/insert-into-tables/">Insert into Tables</a></td>
        </tr>
    </table>
</head>
<body>

<div>Select a table to view the data of:</div>

<form action="/getTable" method="post">
    <select name="tables">
        <option value="crew">Crew</option>
        <option value="crew_roles">Crew Roles</option>
        <option value="crew_assigned_floors">Crew Assigned Floors</option>
        <option value="floors">Floors</option>
        <option value="cannons">Cannons</option>
        <option value="cannon_ammo">Cannon Ammo</option>
        <option value="guest_rooms">Guest Rooms</option>
        <option value="passengers">Passengers</option>
    </select>
    <input type="submit" value="View">
</form>

{{if eq .Title "view-tables"}}
{{else}}
    <h1>{{.Title}}</h1>
{{end}}

<table class="ui celled striped table">
    <tr>
        {{range .QueryResults.ColumnHeaders}}
        <th>{{.}}</th>
        {{end}}
    </tr>
    {{if eq .Title "crew"}}
        {{range .QueryResults.CrewResults}}
        <tr>
            <td>{{.Employee_ID}}</td>
            <td>{{.Annual_Salary}}</td>
            <td>{{.Name}}</td>
            <td>{{.Mans_Cannon}}</td>
            <td>{{.Fights_Sky_Pirates}}</td>
        </tr>
        {{end}}
    {{else if eq .Title "crew_roles"}}
        {{range .QueryResults.CrewRoleResults}}
        <tr>
            <td>{{.Employee_ID}}</td>
            <td>{{.Role}}</td>
        </tr>
        {{end}}
    {{else if eq .Title "crew_assigned_floors"}}
        {{range .QueryResults.CrewFloorResults}}
        <tr>
            <td>{{.Employee_ID}}</td>
            <td>{{.Floor_Number}}</td>
        </tr>
        {{end}}
    {{else if eq .Title "cannons"}}
        {{range .QueryResults.CannonResults}}
        <tr>
            <td>{{.Field_of_View}}</td>
            <td>{{.Floor_Number}}</td>
            <td>{{.Crew_Member}}</td>
        </tr>
        {{end}}
    {{else if eq .Title "cannon_ammo"}}
        {{range .QueryResults.CannonAmmoResults}}
        <tr>
            <td>{{.Field_of_View}}</td>
            <td>{{.Floor_Number}}</td>
            <td>{{.Ammunition_Type}}</td>
        </tr>
        {{end}}
    {{else if eq .Title "floors"}}
        {{range .QueryResults.FloorResults}}
        <tr>
            <td>{{.Floor_Number}}</td>
        </tr>
        {{end}}
    {{else if eq .Title "guest_rooms"}}
        {{range .QueryResults.GuestRoomResults}}
        <tr>
            <td>{{.Room_Number}}</td>
            <td>{{.Nightly_Rate}}</td>
            <td>{{.Maximum_Occupancy}}</td>
            <td>{{.Floor_Number}}</td>
        </tr>
        {{end}}
    {{else if eq .Title "passengers"}}
        {{range .QueryResults.PassengerResults}}
        <tr>
            <td>{{.Ticket_Number}}</td>
            <td>{{.Name}}</td>
            <td>{{.Room_Number}}</td>
        </tr>
        {{end}}
    {{end}}
</table>

</body>
</html>